// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much




$body-bg:  #577C2F !default;

body {
  // green with noise
  background: $body-bg $noise-bg;
  font-family: Optima, serif;
  line-height: 1.1;
  text-align: center;
}

body header, body nav, #main {
  margin: 0px auto; 
}


body header, body nav {
  width: 810px;
}


body header {
  background: url('/images/greenheader.jpg');
}
body header hgroup {
  text-align: right;
  font-family: Optima, serif;
}

body nav {
  background: url('/images/noise.png?1339624490'), no-repeat, -linear-gradient(bottom, rgb(243,245,215) 49%, rgb(245,245,223) 66%, rgb(245,244,231) 83%);
  background: url('/images/noise.png?1339624490'), no-repeat, -webkit-linear-gradient(bottom, rgb(243,245,215) 49%, rgb(245,245,223) 66%, rgb(245,244,231) 83%);
  background: url('/images/noise.png?1339624490'), no-repeat, -moz-linear-gradient(bottom, rgb(243,245,215) 49%, rgb(245,245,223) 66%, rgb(245,244,231) 83%);
  background: url('/images/noise.png?1339624490'), no-repeat, -o-linear-gradient(bottom, rgb(243,245,215) 49%, rgb(245,245,223) 66%, rgb(245,244,231) 83%);
  background: url('/images/noise.png?1339624490'), no-repeat, -ms-linear-gradient(bottom, rgb(243,245,215) 49%, rgb(245,245,223) 66%, rgb(245,244,231) 83%);


  border-top: 1px solid rgb(243,245,215);
/*  border-bottom: 1px solid  #CEC673;*/
  font-family: Optima, serif;
}

#main {
  text-align: left;
  font-size: 11px;
  width: 920px;
  background-color: white;
}

.entry-title {
  font-family: Optima, serif;
  font-weight: normal;
}

/*make these consistent across all index and post and pages*/
h1.entry-title {
  font-size: 2.2em;
}

#content article header {
  padding-bottom: 0px;
}
#content article {
  padding-top: 2em;
}

article header {
  background: none;
}

article .entry-content {
  padding-left: 8px;
}

// make sidebar use the same backround as main
aside.sidebar {
  background: $main-bg $noise-bg;
  height: 100%;
}

// Don't want borders on sidebar images.
aside.sidebar img {
  @include shadow-box($border: #fff 0em solid);
}

article img {
  border: none;
  border-radius: 0;
}


article header {
  width: 660px;
}
article, body div.pagination {
  margin-left: 140px;
  width: 660px;
}

#content div.pagination {
  background: none;
}

#content .blog-index article, #main #content article, .pagination {
  padding-right: 0px;
  padding-left: 0px;
}

#content {
  border-right: none;
  margin-right: 0px;
  padding-right: 120px;
}

#main #page, #main #post {
  padding-top: 0px;
}

#left.sidebar {
  width: 100px;
}

.recent_posts ul li {
  font-size: 11px;
  padding: 4px;
}


#content article h1 {
  display: inline;
}

article header span.meta {
  font-size: .9em;
  color: #AAA;
  margin: 0;
  margin-left: 4px;
  margin-right: 4px;
  float: right;
}
p.post-next-previous {
  margin-bottom: 2.2em;
}

p.post-next-previous a{
  color: #AAA;
}

p.post-next-previous a:hover {
  color: #6d3026;
  text-decoration: none;
}

#blog-archives h1 {
  padding-top: 8px;
  font-family: Optima, serif;
  font-weight: normal;
}

p.meta + .sharing {
  padding-bottom: 1em;
}

.categories {
  font-style: italic;
}


a {
  -webkit-transition: none;
  -ms-transition: none;
  -o-transition: none;
  -moz-transition: none;
}

/* anchor links */
a:link, aside.sidebar a:link {
  text-decoration: none;
  color: #6d3026; }

a:visited, aside.sidebar a:visited {
  text-decoration: none;
  color: #6d3026; }

a:hover, aside.sidebar a:hover, #content .blog-index article h1 a:hover, #blog-archives h1 a:hover {
  text-decoration: underline; 
  color: #6d3026;
}

#content div.pagination a:hover {
  color: #6d3026; 
}

a:active, aside.sidebar a:active {
  text-decoration: underline; 
  color: #6d3026;
}



body nav a:link {
  text-decoration: none;
  color: #6d3026; 
}

body nav a:visited {
  text-decoration: none;
  color: #6d3026; 
}

body nav a:hover {
  text-decoration: underline; 
  color: #6d3026;
}

body nav a:active {
  text-decoration: underline; 
  color: #6d3026;
}


/* text input fonts */
input, textarea, pre {
  font-family: Monaco, monospace; }
  

